


.App {
  text-align: center;
  background-color: #282c34b9 !important;
  height:100vh;
 /*  overflow: scroll;*/
  overflow-x: hidden;
  overflow-y: hidden; 
}

.blocco{
  height: 70vh;
  overflow: auto !important;
  overflow-x: hidden !important;
}

.mainPage {
  height:100vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.myPresentazione{
  height:100vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.sfondo {
  height: 100%;
}

.card, .list-group-item {
  background-color: #ffffff48 !important;
}

.w-10{
  width: 7%;
}


.modal-content{
  background-color:  #365e4f!important;
  color: white !important;
  position: relative !important;
  z-index: 30 !important;
}
 .carousel img:hover{
  cursor: pointer !important;
  transform: scale(0.9);
 }

.myNav{
  position: fixed;
  top:1px;
  left:30vw;
  width: 65%;
  margin: auto;
  background-color: #365e4f;
  z-index: 20 !important;
}

.card img{

  margin: auto;
}


.presentazione{
  background-color: #365e4fbf;
  box-shadow: 0px 0px 5px 5px #282c34b9 ;
  border-radius: 10px;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.fotoProfilo{
  border: #282c34 2px solid;
  box-shadow: #282c34 0px 0px 10px 2px;
  position: relative;
}

.mySideBar p {
  font-size: 14px;
  
}

#select{
  background-color: #365e4fbf !important;
  color: white !important;
}
.m-0{
  padding: 0px !important;
}

.relative{
  position: relative !important;
}

.mySideBar{
  border: #282c34 2px solid;
  height: 100vh;
  bottom: 0px;
  left: 0px; 
  width: 100%;
  color: white;
  background-color: #365e4fbf;
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contenitoreImg{
  width: 20%;
}



